ul, li {
  list-style: none;
}
header.well {
  margin-top: 20px;
}
.page-header {
  position: relative;
}
.page-header h1 a:hover,
.page-header h1 a:active,
.page-header h1 a:visited,
.page-header h1 a:focus {
  text-decoration: none;
}
.content {
  max-width: 960px;
}
.action-links a {
  margin-right: 5px;
}
.create-book {
  float: right;
  margin-bottom: 5px;
  clear: both;
}
.bg-success,
.bg-info {
  display: inline-block;
  padding: 10px;
  margin-left: 10px;
}
.back {
  display: block;
  margin-top: 10px;
}

/* performance */
.perf-cotrols-block {
  position: absolute;
  padding: 5px;
  right: 0;
  z-index: 999;
}
.perf-cotrols-block.well a {
    margin-right: 10px;
}
.perf-cotrols-block h3 {
  display: inline-block;
  margin: 0 10px 0 0;
  font-size: 14px;
}
.perf-cotrols-block > div {
  display: inline-block;
}

